@font-face {
	font-family: 'Rosarivo';
	src: url("../assets/fonts/Rosarivo-Regular.woff") format('woff'), url("../assets/fonts/Rosarivo-Regular.woff2") format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Venetian-301';
	src: url("../assets/fonts/venetian-301-demi.otf") format('otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Plus-Jakarta-Sans';
	src: url("../assets/fonts/PlusJakartaSans-Regular.woff") format('woff'), url("../assets/fonts/PlusJakartaSans-Regular.woff2") format('woff2');
	font-weight: 400;
}