//font
$mainFont: 'Rosarivo',
sans-serif;
$accentFont: 'Venetian-301',
sans-serif;
$descriptionFont: 'Plus-Jakarta-Sans',
sans-serif;

//colors
$font-color: #EFE3C8;
$dark-font-color: #352328;
$button-color: #EFE3C8;
$active-button-color: rgba(239, 227, 200, 0.502);
$title-cards-color: #FFFFFF;
$description-color: #959BA5;
$app-color: #1C161E;
$menu-color: #352328;
$shadow-menu-color: rgba(239, 227, 200, 0.12);
$input-color: #332D34;
$card-background-color: #332d341a;
$placeholder-color: rgba(239, 227, 200, 0.349);
$error-color: #B3261E;