@use "../../styles/variables.scss"as variables;

.search__container {
	width: 31.25rem;
	padding: .625rem 0.875rem;
	display: flex;
	align-items: center;
	border: 2px solid variables.$placeholder-color;
	border-radius: 1.375rem;
	background-color: variables.$input-color;
	position: relative;
}

.search__item {
	background: transparent;
	flex: 1;
	font-size: .875rem;
	color: variables.$font-color;
	padding-right: 3rem; // Отступ справа для кнопки очистки

	&::placeholder {
		font-family: variables.$accentFont;
		font-size: 1.25rem;
		color: variables.$placeholder-color;
	}
}

.search__icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 0.25rem;
	margin-right: 0.875rem;
	transition: transform 0.2s linear;
	content: url("../../assets/icons/search/search.svg");
}

.clear__button {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	right: 0.875rem;
	background-color: transparent;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.search__container:has(.search__item:not(:placeholder-shown)) .clear__button {
	display: flex;
}

.clear__icon {
	width: 1.5rem;
	height: 1.5rem;
	content: url("../../assets/icons/buttons/clear.svg");
}