@use "../../styles/variables.scss"as variables;

.search__container {
	width: 31.25rem;
	padding: .625rem 0.875rem;
	display: flex;
	align-items: center;
	border: 2px solid variables.$placeholder-color;
	border-radius: 1.375rem;
	background-color: variables.$input-color;
	position: relative;
}

.search__item {
	background: transparent;
	flex: 1;
	font-size: .875rem;
	color: variables.$font-color;
	padding-right: 3rem; // Отступ справа для кнопки очистки

	&::placeholder {
		font-family: variables.$accentFont;
		font-size: 1.25rem;
		color: variables.$placeholder-color;
	}
}

.search__icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 0.25rem;
	margin-right: 0.875rem;
	transition: transform 0.2s linear;
	content: url("../../assets/icons/search/search.svg");
}

@media (max-width: 675px) {
	.search__container {
		width: 28.25rem
	}
}

@media (max-width: 625px) {
	.search__container {
		width: 26.25rem;
	}
}

@media (max-width: 570px) {
	.search__container {
		width: 24.25rem;
	}
}

@media (max-width: 540px) {
	.search__container {
		width: 22.25rem;
	}
}

@media (max-width: 515px) {
	.search__container {
		width: 22.25rem;
	}
}

@media (max-width: 500px) {
	.search__container {
		width: 20.25rem;
	}
}

@media (max-width: 480px) {
	.search__container {
		width: 28.25rem;
		margin-top: 1.5rem;
	}
}

@media (max-width: 445px) {
	.search__container {
		width: 27.25rem;
	}
}

@media (max-width: 425px) {
	.search__container {
		width: 26.25rem;
	}
}

@media (max-width: 410px) {
	.search__container {
		width: 25.25rem;
	}
}

@media (max-width: 390px) {
	.search__container {
		width: 24.25rem;
	}
}

@media (max-width: 376px) {
	.search__container {
		width: 23.25rem;
	}
}

@media (max-width: 360px) {
	.search__container {
		width: 22.25rem;
	}
}

@media (max-width: 350px) {
	.search__container {
		width: 21.5rem;
	}
}

@media (max-width: 350px) {
	.search__container {
		width: 20.5rem;
	}
}

@media (max-width: 325px) {
	.search__container {
		width: 19.5rem;
	}
}

@media (max-width: 315px) {
	.search__container {
		width: 19rem;
	}
}

@media (max-width: 305px) {
	.search__container {
		width: 18rem;
	}
}

@media (max-width: 290px) {
	.search__container {
		width: 17rem;
	}
}