@use "../../styles/variables.scss"as variables;

.list__container {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	padding: 2.5rem 0;
}

.list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 2.5rem;
	grid-column-gap: 5.5rem;
}

.list__item {
	width: 11.625rem;
}

.blurred {
	opacity: 0.4;
	filter: blur(5px);
	transition: opacity 0.3s ease, filter 0.3s ease;
}