@use "../../styles/variables.scss"as variables;

.header {
	width: 17rem;
	min-height: 100vh;
	background-color: variables.$menu-color;
	box-shadow: 0.2rem 0 2rem variables.$shadow-menu-color;
}

.header__navigation_box {
	margin-top: 1.875rem;
}

.header__navigation_logo {
	display: inline-block;
	width: 7.5rem;
	margin-left: 2rem;
}

.header__logo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav {
	margin-top: 3.875rem;
}

.nav__button {
	display: flex;
	align-items: center;
	width: 12.625rem;
	height: 3.125rem;
	margin-bottom: 1.5rem;
	padding: .75rem 2rem;
	border-radius: .3125rem;
	color: variables.$font-color;

	&:hover {
		cursor: pointer;
		background-color: variables.$button-color;
		color: variables.$dark-font-color;
		transition: background-color .3s linear, color .3s linear;
	}

	&:active {
		background-color: variables.$active-button-color;
		color: variables.$font-color;
		transition: background-color .3s linear, color .3s linear;
	}
}

.nav__icon {
	width: 1.5rem;
	height: 1.5rem;
}

.nav__text {
	font-size: 1.0625rem;
	margin-left: .625rem;
}