@use "../../styles/variables.scss"as variables;

.header {
	width: 17rem;
	min-height: 100vh;
	background: linear-gradient(to bottom, rgba(110, 101, 112, 0.494) 0%, rgba(65, 55, 67, 0.494) 50%, rgba(51, 45, 52, 0.494) 100%);
	box-shadow: 0.2rem 0 2rem variables.$shadow-menu-color;
	z-index: 1;
}

.header__navigation_box {
	margin-top: 1.875rem;
}

.header__navigation_logo {
	display: inline-block;
	width: 7.5rem;
	margin-left: 2rem;
}

.header__logo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav {
	margin-top: 3.875rem;
}

.nav__button {
	display: flex;
	align-items: center;
	width: 12.625rem;
	height: 3.125rem;
	margin-bottom: 1.5rem;
	padding: .75rem 2rem;
	border-radius: .3125rem;
	color: variables.$font-color;

	&:hover {
		cursor: pointer;
		background-color: variables.$button-color;
		color: variables.$dark-font-color;
		transition: background-color .3s linear, color .3s linear;
	}

	&:active {
		background-color: variables.$active-button-color;
		transition: background-color .2s linear;
	}
}

.nav__icon {
	width: 1.5rem;
	height: 1.5rem;
}

.nav__text {
	font-size: 1.0625rem;
	margin-left: .625rem;
}

@media (max-width: 1120px) {
	.header {
		width: 14rem;
	}
}

@media (max-width: 1080px) {
	.header {
		display: flex;
		width: 100%;
		min-height: auto;
		background: linear-gradient(to bottom, rgba(110, 101, 112, 0.994) 0%, rgba(65, 55, 67, 0.894) 50%, rgba(51, 45, 52, 0.894) 100%);
	}

	.header__navigation_box {
		display: flex;
		justify-content: space-between;
		width: 60vw;
		margin-bottom: 1.875rem;
	}

	.header__navigation_logo {
		display: inline;
		width: auto;
		margin-left: 0;
	}

	.nav {
		display: flex;
		align-items: center;
		margin-top: 0;
	}

	.nav__button {
		margin-bottom: 0;
	}
}

@media (max-width: 835px) {
	.header__navigation_box {
		width: 80vw;
	}
}

@media (max-width: 615px) {
	.header__navigation_box {
		width: 90vw;
	}
}

@media (max-width: 495px) {
	.nav__button {
		width: auto;
	}
}

@media (max-width: 415px) {
	.nav__button {
		width: auto;
		padding: .75rem 1rem;
	}
}

@media (max-width: 380px) {
	.header__navigation_logo {
		width: 4.375rem;
	}

	.nav__text {
		font-size: 0.875rem;
	}
}

@media (max-width: 320px) {
	.header__navigation_logo {
		width: auto;
	}

	.nav {
		width: 8rem;
		justify-content: space-between;
	}

	.nav__text {
		display: none;
	}
}