@use "../../styles/variables.scss"as variables;

.about__container {
	width: 100%;
	min-height: 100vh;
	background: url("../../assets/images/start.jpg") center center no-repeat fixed;
	background-size: cover;
}

.content {
	margin-top: 10rem;
}

.title {
	font-size: 2.375rem;
	animation-delay: 0.3s; // небольшая задержка для плавности
}

.subtitle {
	margin-bottom: 3.125rem;
	font-size: 1.625rem;
	animation-delay: 0.6s; // задержка для появления после заголовка
}

.title,
.subtitle {
	opacity: 0;
	animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-1.25rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-1.25rem);
	}
}

.show {
	animation: fadeIn 1.5s ease-out forwards;
}

.hide {
	animation: fadeOut 1s ease-in forwards;
}

@media (max-width: 1385px) {
	.subtitle {
		font-size: 1.375rem;
	}
}

@media (max-width: 970px) {
	.about__container {
		width: 100%;
		min-height: 100vh;
		background: url("../../assets/images/start-mobile.jpg") center center no-repeat fixed;
		background-size: cover;
	}
}

@media (max-width: 530px) {
	.content {
		margin-top: 12rem;
	}
}

@media (max-width: 380px) {
	.subtitle {
		font-size: 1.5rem;
	}
}