@use "../../styles/variables.scss"as variables;

.card {
	display: flex;
	flex-direction: column;
	width: 11.625rem;
	height: 17rem;
	padding: 0.875rem;
	background-color: variables.$card-background-color;
	border-radius: .625rem;
	box-shadow: 0 0 0.5rem variables.$shadow-menu-color;

	cursor: pointer;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.1);
		z-index: 10;
	}
}

.image__box {
	align-self: center;
	width: 5rem;
	height: 7.5rem;
}

.image {
	width: 100%;
	height: 100%;
	border-radius: .8125rem;
	object-fit: cover;
}

.content {
	margin: 1.25rem 0;
}

.title {
	color: variables.$title-cards-color;
}

.subtitle {
	margin-top: .5rem;
	font-size: .875rem;
	color: variables.$description-color;
}

.button__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}