@use "../../styles/variables.scss"as variables;

.card {
	display: flex;
	flex-direction: column;
	width: 11.625rem;
	height: 17rem;
	padding: .875rem;
	background-color: variables.$input-color;
	border-radius: .625rem;
}

.image__box {
	align-self: center;
	width: 5rem;
	height: 7.5rem;
	border-radius: .8125rem;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	margin: 1.25rem 0;
}

.title {
	color: variables.$title-cards-color;
}

.subtitle {
	margin-top: .5rem;
	font-size: .875rem;
	color: variables.$description-color;
}

.button__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}