// #root {
// 	max-width: 1280px;
// 	margin: 0 auto;
// 	padding: 2rem;
// 	text-align: center;
// }

.app {
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.container {
	width: 87.5rem;
	max-width: 87.5rem;
	padding: 1.875rem 3.125rem;
}

.header__inner {
	max-width: 12.625rem;
	margin: 0 auto;
}