.app {
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 1.875rem 3.125rem;
	min-height: 100vh;
}

.container__start-page {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 87.5rem;
	padding: 1.875rem 3.125rem;
	min-height: 100vh;
}

.book-page__container {
	width: 90vw;
}

.library__container {
	width: 90vw;
}

.header__inner {
	max-width: 12.625rem;
	margin: 0 auto;
}

.page__background {
	background: url("/src/assets/images/library.webp") center center no-repeat;
	background-size: cover;
}

@media (max-width: 1440px) {
	.library__container {
		width: auto;
	}
}

@media (max-width: 1175px) {
	.library__container {
		padding: 1.875rem 2.125rem;
	}
}

@media (max-width: 1155px) {
	.library__container {
		padding: 1.875rem 1.875rem;
	}
}

@media (max-width: 1120px) {
	.library__container {
		padding: 1.875rem 1.5rem;
	}
}

@media (max-width: 1080px) {
	.app {
		display: flex;
		flex-direction: column-reverse;
	}

	.header__inner {
		max-width: 90%;
	}

	.library__container {
		padding: 1.875rem 3.125rem;
		width: auto;
	}

	.book-page__container {
		width: auto;
	}
}

@media (max-width: 1020px) {
	.library__container {
		padding: 1.875rem 2.125rem;
	}
}

@media (max-width: 540px) {
	.container {
		padding: 1.875rem 2.125rem;
	}
}

@media (max-width: 415px) {
	.container {
		padding: 1.875rem 1.5rem;
	}
}

@media (max-width: 380px) {
	.container__start-page {
		padding: 1.875rem 2.125rem;
		width: 20rem;
	}
}