.app {
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 87.5rem;
	padding: 1.875rem 3.125rem;
	min-height: 100vh;
}

.container__start-page {
	display: flex;
	flex-direction: column;
	max-width: 87.5rem;
	padding: 1.875rem 3.125rem;
	min-height: 100vh;
}

.header__inner {
	max-width: 12.625rem;
	margin: 0 auto;
}

.page__background {
	background: url("/src/assets/images/library.webp") center center no-repeat;
	background-size: cover;
}

@media (max-width: 925px) {
	.app {
		display: flex;
		flex-direction: column-reverse;
	}

	.header__inner {
		max-width: 90%;
	}
}

@media (max-width: 540px) {
	.container {
		padding: 1.875rem 2.125rem;
	}
}

@media (max-width: 415px) {
	.container {
		padding: 1.875rem 1.5rem;
	}
}

@media (max-width: 380px) {
	.container__start-page {
		padding: 1.875rem 2.125rem;
		width: 20rem;
	}
}